{% extends "ap2.j2" %}

{% block summary %}
<p>Dit vocabularium definieert een aantal termen om Feitelijkeverenigingen te beschrijven.</p>
<p>Een FeitelijkeVereniging is gedefinieerd  een Organisatie die net als andere Verenigingen een belangeloos doel dient. Verschil is dat een FeitelijkeVereniging niet geregistreerd is als rechtspersoon, het is louter een Vereniging omdat de leden gezamenlijk activiteiten ondernemen..</p>
<p>FeitelijkeVerenigingen kunnen erkend worden waardoor ze zonder een rechtspersoon te zijn toch een formeel karakter krijgen..</p>
<p>Om gebruik te kunnen maken van PubliekeDienstverlening, bv het uitlenen van sportmateriaal bij een  lokaal bestuur, kan het volstaan om enkele basisgegevens te verstrekken maar is soms ook deze Erkenning noodzakelijk..</p>
<p>De behandeling van de Erkenningsaanvraag en de uiteindelijke erkenning gebeurt door een PubliekeOrganisatie. Om de Erkenning te verkrijgen, moeten bepaalde bewijzen op basis van specifieke criteria worden aangeleverd door de FeitelijkeVereniging..</p>
<p>Het vocabularium laat ook toe te beschrijven wie lid is van de FeitelijkeVereniging en/of wie verantwoordelijk is (en welke die verantwoordelijkheid is)..</p>
<p>Tot slot kan worden beschreven welke PubliekeDienstverleningen zijn aangevraagd door de FeitelijkeVereniging..</p>
<p>Het vocabularium herbruikt termen uit het applicatieprofiel <a href="https://data.vlaanderen.be/ns/organisatie">OSLO-Organisatie</a> en <a href="https://data.vlaanderen.be/ns/organisatiehttps://data.vlaanderen.be/ns/dienst">OSLO-Dienstencataloog</a>.</p>
{% endblock %}
