{% extends "voc2.j2" %}

{% block summary %}
<p>Een feitelijke vereniging beheert en deelt in zijn levensloop een grote hoeveelheid en verscheidenheid aan informatie. Afhankelijk van het doel van de vereniging, zal deze willen gebruik maken van een publieke dienstverlening (bv. het uitlenen van sportmateriaal bij een lokaal bestuur). Daarvoor dient de feitelijke vereniging zich bekend te maken met enkele basisgegevens. Afhankelijk van de publieke dienstverlening, kan het zijn dat het lokale bestuur een erkenning vereist. Om deze erkenning te verkrijgen, wordt er door de vereniging een aanvraag ingediend, waarbij bepaalde bewijzen op basis van specifieke criteria moeten worden aangeleverd door de feitelijke vereniging. Uiteraard heeft een feitelijke vereniging ook (minstens 2) leden die al dan niet een bepaalde verantwoordelijkheid en rol opnemen in de werking van de vereniging. 
</p>
{% endblock %}
